.profile__edit-profile{

  border: none;
  outline: none;
  background-color: black;

  width: 24px;
  height: 24px;

  cursor: pointer;

  transition: 0.2s;
}

.profile__edit-profile:hover{

 opacity: 0.6;
}

@media screen and (max-width: 898px){
  .profile__edit-profile{

    width: 20px;

    margin-top: 7px;
    padding: 0;
  }
}
