.profile__add-button{
  border: none;
  outline: none;
  background-color: black;

  justify-self: end;
  align-self: center;

  grid-area: add-button;

  transition: 0.2s;

  cursor: pointer;
}

.profile__add-button:hover{
  opacity: 0.6;
  transition: 0.2s;
}

@media screen and (max-width: 898px){
  .profile__add-button{

    justify-self: center;
  }
}
