.profile__description{

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  margin: 0;
  padding: 0;

  cursor: default;

  grid-area: description;
}

@media screen and (max-width: 898px){
  .profile__description{
    align-self: center;
    justify-self: center;

    font-size: 14px;
    line-height: 17px;

    margin-top: 0;
    margin-bottom: 36px;
  }
}
