.profile__photo{
  width: 120px;
  height: 120px;

  object-fit: cover;
  border-radius: 50%;

  grid-area: photo;
}



@media screen and (max-width:  898px){
  .profile__photo{

    margin-bottom: 26px;

    justify-self: center;
  }
}
